#name{
	color: #4C6270;
	font-family: Brush Script MT;
	font-size: 100px;
	height: 20px;
  	text-align: center;
}

#by{
	color: white;
	font-family: Brush Script MT;
	text-align: center;
	height: 0px;	
}

.sub{
	color: #4C6270;
	font-size: 10px;
	text-align: center;
	font-family: Arial;
}


article > h3{
	font-family: Arial;
	font-size: 20px;

}

#kor{
	text-align: left;

}
#kor:hover{
	background-color: white;
	color: black;
}


#ing{
	text-align: right;
}

#ing:hover{
	background-color: white;
	color: black;
}